<style>
  .l-gallery-view-container {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  .c-gallery {
    padding: 15px;
    overflow-y: auto;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 40px;
  }
  .c-gallery__image {
    height: 182px;
    width: 182px;
    margin: 3px;
    border: 1px solid var(--color-beta-on-surface_border);
    border-radius: 3px;
    transition: all .3s ease-out;
  }
  .c-gallery__image:hover {
    transform: scale(1.05);
  }
</style>

<section class="c-gallery">
  {{#each @records as |record|}}
    {{#link-to 'rendering.data.collection.list.viewEdit.details' @collection.id record.id class='c-gallery__image-container'}}
      <img class='c-gallery__image' src={{record.forest-picture}}>
    {{/link-to}}
  {{/each}}
</section>

{{table/table-footer
  collection=@collection
  viewList=@viewList
  records=@records
  currentPage=@currentPage
  numberOfPages=@numberOfPages
  recordsCount=@recordsCount
  isLoading=@isLoading
  fetchRecords=@fetchRecords
}}
